<title>TOP100summit 会员登录</title>
{template "content", "header"}
</head>
<style type="text/css">
	.input-focus,.input-text{
		width: 94%;
		padding: 0 3%;
		box-shadow: 0 0 2px #aaa;
		border: 0 none;
		height: 40px;
		line-height: 40px;
		margin-top: 2px;
		font-size: 120%;
		background: #f5f5f5;
	}
	#code{width: 50%;float: left}
</style>
<body>
<div class="mlogin">
	<div style="height:1px;"></div>
    <?php
		$comeform = $_GET['comeform'];

		if(!empty($comeform)){
		?>
    <form method="post" action="{APP_PATH}index.php?m=api&c=user&a=login" id="myform" name="myform">
        <input type="hidden" class="mlogin-input"  name="comeform" value="caseSumbit"  class="mlogin-input input-text">
    <?php }else{ ?>
        <form method="post" action="{APP_PATH}index.php?m=api&c=user&a=login" id="myform" name="myform">
    <?php } ?>

		<h1>登录</h1>
		<p>手机号</p>
    	<div class="input">
			<input type="text" class="mlogin-input" id="name" name="huiyuan[mu_userName]"  class="mlogin-input input-text">
		</div>
		<p>密码</p>
		<div class="input">
			<input type="password" id="mima" name="huiyuan[mu_password]" class="input-text mlogin-input">
		</div>
		<p>验证码</p>
		<div class="input">
			<input type="text" id="code" name="code" size="8" class="input-text l">
			<div class="l" style="margin-top: 2px;margin-left: 10px;">
			{form::checkcode('code_img', '5', '', 120, 40)}
			</div>
		</div>
		<div class="b"></div>
		<div class="mlogin-d">
			<label class="l">
			<input type="checkbox" name="cookietime" value="2592000" id="cookietime">记住我</label>
			<div class="b"></div>
		</div>

		<button type="submit">登录</button>
	</form>

	<p class="mlogin-btm">还没有账号？<a href="index.php?m=member&c=index&a=register">注册</a></p>
</div>

{template 'content', 'footer'}