{template "content", "header"}
<div class="bn banner-volunteer">
	<div class="bn-c">
		<h1>案例提交</h1>
		<p class="bn-cs">北京2015年4月10日</p>
	</div>
</div>

<div class="c vol">
	<p>找到一个看上去还不错的职位申请吧！如果你希望有电吧！我们的部分地区会组织线下的招聘活动，所以你也许可以注册后展示出你的经验和经历，享受周末或是工作日的晚上的活动来了解我们后展示出你的经验和后展示出。<br />找到一个看上去还不错的职位申请吧！如果你希望有电吧！我们的部分地区会组织线下的招聘活动，所以你也许可以注册后展示出你的经验和经历，享受周末或是工作日的晚上的活动来了解我们后展示出你的经验和后展示出。</p>
	<div class="vol-c">
		<img src="img/vol1.png" class="l vol-cl" />
		<div class="r vol-cr">
			<h1>交谈</h1>
			<p>通常，你会和我们招聘团队有一轮电话沟通。我们了解你不会轻易地选择，我们也一样，招聘团队会帮助你发掘是不是一个适合你的地方（反之亦然）。HR是我们文化的守卫者，如果他们认为我们不是十分匹配的话，你的面试流程可能到此结束。我们推荐您在面试之前浏览我们的网站，思考和准备你打算在电话中向他们询问的问题。</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="vol-c">
		<img src="img/vol2.png" class="l vol-cl" />
		<div class="r vol-cr">
			<h1>动手</h1>
			<p>通常，你会和我们招聘团队有一轮电话沟通。我们了解你不会轻易地选择，我们也一样，招聘团队会帮助你发掘是不是一个适合你的地方（反之亦然）。HR是我们文化的守卫者，如果他们认为我们不是十分匹配的话，你的面试流程可能到此结束。我们推荐您在面试之前浏览我们的网站，思考和准备你打算在电话中向他们询问的问题。</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="vol-c">
		<img src="img/vol3.png" class="l vol-cl" />
		<div class="r vol-cr">
			<h1>会面</h1>
			<p>通常，你会和我们招聘团队有一轮电话沟通。我们了解你不会轻易地选择，我们也一样，招聘团队会帮助你发掘是不是一个适合你的地方（反之亦然）。HR是我们文化的守卫者，如果他们认为我们不是十分匹配的话，你的面试流程可能到此结束。我们推荐您在面试之前浏览我们的网站，思考和准备你打算在电话中向他们询问的问题。</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="vol-c">
		<img src="img/vol4.png" class="l vol-cl" />
		<div class="r vol-cr">
			<h1>激动</h1>
			<p>通常，你会和我们招聘团队有一轮电话沟通。我们了解你不会轻易地选择，我们也一样，招聘团队会帮助你发掘是不是一个适合你的地方（反之亦然）。HR是我们文化的守卫者，如果他们认为我们不是十分匹配的话。</p>
		</div>
		<div class="b"></div>
	</div>
</div>



<div class="caseform-tl"><div class="c">申请加入</div></div>

<div class="c caseform">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td width="150">姓名：</td>
			<td width="600"><input style="width: 300px;" /></td>
			<td class="tds">性别：<label><input type="radio" name="x" checked="checked" />先生</label><label><input type="radio" name="x" />女士</label></td>
		</tr>
		<tr>
			<td width="150">学校/院系：</td>
			<td colspan="2"><input /></td>
		</tr>
		<tr>
			<td width="150">E-mail：</td>
			<td width="600"><input /></td>
			<td>移动电话：<input style="width: 300px;" /></td>
		</tr>
	</table>
</div>

<button type="submit" class="caseform-btn">提&emsp;交</button>
{template "content", "footer"}
