{template "content", "header"}
<div class="bn">
</div>

<div class="c duty _pc _m">
	<h1>我们的使命</h1>
	<h2>［使命］寻找我们身边值得推荐的100个研发案例，让优秀分享者比肩、梳理、反思。</h2>
	<div class="duty-c">
		<div class="duty-b">
			<img src="{$imgPath}duty1.png" height="160" style="height:160px; width:auto;"/>
			<h3>出版</h3>
			<p>
				组委会依据大会精彩演讲 <br />
				编纂《全球软件案例研究年鉴》精编版<br />
				供行业同仁回顾及研究学习使用
			</p>
		</div>
		<div class="duty-b">
			<img src="{$imgPath}duty2.png"height="160" style="height:160px; width:auto;" />
			<h3>社区</h3>
			<p>
				into100沙龙每月在北上深等地巡回举办<br />
				活动旨在分享TOP100优秀的案例实践<br />
				继续挖掘并传播业界最具价值的技术实践
			</p>
		</div>
		<div class="duty-b">
			<img src="{$imgPath}duty3.png" height="160" style="height:160px; width:auto;"/>
			<h3>奖项</h3>
			<p>
				分享者个人或团队将获得TOP100summit大会颁发的
				《Top 100 Case Studies in IT》<br/>
				纯金荣誉徽章
			</p>
		</div>
	</div>
</div>
<div class="b"></div>
<div class="mem">
	<div class="c mem-c">
		<h1>会员单位</h1>
		<div class="mem-t">
			<!-- <div class="mem-tc mem-tcf">
				<h2>2299</h2>
				<p>合作媒体</p>
			</div>
			<div class="mem-tc">
				<h2>28</h2>
				<p>赞助商</p>
			</div>
			<div class="b"></div> -->
		</div>
		<div class="mem-i">
		{pc:content action="lists" catid="35" thumb="1"}
			{loop $data $v}
				<a href="javascript:void(0)" class="l mem-ic">
					<img src="{$v[thumb]}" style="width:128px;height:62px;" width="128" height="62" />
				</a>
			{/loop}
		{/pc}
<!-- <a href="javascript:;" class="l mem-ic"><img src="{$imgPath}mem-test.png" /></a> -->
			<div class="b"></div>
		</div>
	</div>
</div>

<div class="c news">
	<div class="news-tl">新闻</div>
	{pc:content action="lists" catid="23" num="6" order="listorder desc, id desc"}
	{loop $data $v}
	<div class="l news-c">
		<div class="news-ctl">{date("Y年m月d日", $v[inputtime])}</div>
		<a href="{$v[url]}" target="_blank"><h1>{$v[title]}</h1></a>
		<p>{mb_substr($v[description], 0, 200, "utf-8")}</p>
	</div>
	{/loop}
	<div class="b"></div>
</div>


{template "content", "footer"}