{template "content", "header"}

<div class="bn">
	<div class="bn-c">
		<h1>我们是*** ***改变者</h1>
		<p>助推全球社会变革</p>
	</div>
</div>

<div class="c pub">
	<div class="l pub-l">
		<a href="javascript:;">
			<span></span>
			<table><tr><td>案例<br class="_m" />研究报告</td></tr></table>
		</a>
		<a href="javascript:;">
			<span></span>
			<table><tr><td>演讲者<br class="_m" />图书推荐</td></tr></table>
		</a>
		<a href="javascript:;">
			<span></span>
			<table><tr><td>纪念品</td></tr></table>
		</a>
	</div>
	<div class="r pub-r">
		<div class="pub-rc">
			<div class="pub-rtl">案例研究报告</div>
			<div class="pub-rb">
				<div class="pub-rv">
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="pub-rc">
			<div class="pub-rtl">演讲者图书推荐</div>
			<div class="pub-rb">
				<div class="pub-rv">
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="pub-rc">
			<div class="pub-rtl">纪念品</div>
			<div class="pub-rb">
				<div class="pub-rv">
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
					<a href="javascript:;" class="l pub-rk">
						<table cellspacing="0" cellpadding="0"><td><img src="{$imgPath}book.jpg" /></td></table>
						<h1>《全球软件案例年鉴精选集-1》</h1>
						<p>China on Sunday unveiled a plan to develop city clusters along the middle reaches of the Yangtze River in a move to create a new economic growth engine</p>
						<span class="l">24.95&nbsp;</span>
						<img src="{$imgPath}ar.jpg" class="r" />
						<div class="b"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="b"></div>
</div>

{template "content", "footer"}