<title>TOP100SUMMIT全球软件案例智库-/志愿者提交</title>
{template "content", "header"}
<div class="bn banner-volunteer">
</div>

<div class="c vol">
	<h1>TOP100summit<br class="_m" />志愿者招募</h1>
	<div class="vol-ln"></div>
	<h2>第四届TOP100summit全球软件案例研究峰会</h2>
	<h4>2015年11月20-23日&emsp;&emsp;北京国家会议中心</h4>
	<p>&emsp;&emsp;TOP100summit全球软件案例研究峰会是以100个好案例为指引，梳理软件行业100个值得借鉴的设计案例大会。大会组委会精心而严格筛选出最有价值的100个案例，邀请海内外知名企业带头人，一线行业技术创始人，企业资深工程师等顶级精英，50分钟内展现出最核心的技术精华，揭开其技术的神秘面纱。2012TOP100summit参与人数达1200人，产品经理、团队经理、测试经理、架构师等相关人员与会。</p>
	<div class="vol-ln"></div>
	<h3>2015年TOP100summit<br class="_m" />预计参数3000人<br />特面向软件开发人员<br class="_m" />及软件学院高校学生<br class="_m" />招募大会志愿者。</h3>
	<p><?php echo nl2br(str_replace('  ', '&nbsp;&nbsp;', '（1）志愿者培训时间：2015年11月18日（需提前上岗培训）
（2）志愿者服务时间：12月20-23日。
（3）志愿者服务内容：
        ● 前台签到/指引      <br class="_m" />        ● 主持人助理      <br class="_m" />        ● 游戏区助理         <br class="_m" />        ● 展台助理        <br class="_m" />        ● 茶歇间助理
（4）志愿者应征条件：
        ● 面向在校本科大学生或研究生，软件专业、软件学院学生优先或软件从业人员
        ● 有过志愿者服务或会务服务经验者优先
        ● 服从大会组委会的指挥和调配、遵守工作制度，恪守志愿者岗位职责
（5）志愿者所获收益：
        ● 带有TOP100summit志愿者服装
        ● 获得TOP100summit“最佳志愿者”称号
        ● 享受TOP100summit 3日工作午餐
        ● 获得TOP100summit组委会颁发的实习证书
        ● 免费听取TOP100summit大会的演讲
        ● 还有机会获得为优秀志愿者推荐工作的机会
（6）报名方式：
        在线报名或将个人简历发至邮箱：Volunteer@top100summit.com')); ?></p>
</div>



<div class="caseform-tl vol-tl"><div class="c">申请加入</div></div>

<form class="c caseform _pc">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td width="150">姓名：</td>
			<td width="550"><input style="width: 300px;" /></td>
			<td class="tds">性别：<label><input type="radio" name="x" checked="checked" />先生</label><label><input type="radio" name="x" />女士</label></td>
		</tr>
		<tr>
			<td width="150">学校/院系：</td>
			<td colspan="2"><input /></td>
		</tr>
		<tr>
			<td width="150">E-mail：</td>
			<td><input /></td>
			<td>移动电话：<input style="width: 300px;" /></td>
		</tr>
	</table>
</form>

<form class="c caseform _m volform">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td class="vol-td1">姓名：</td>
			<td><input style="width: 85%" /></td>
		</tr>
		<tr>
			<td class="vol-td1">性别：</td>
			<td><label><input type="radio" name="x" checked="checked" />先生</label><label><input type="radio" name="x" />女士</label></td>
		</tr>
		<tr>
			<td class="vol-td1">学校：</td>
			<td><input style="width: 85%" /></td>
		</tr>
		<tr>
			<td class="vol-td1">电话：</td>
			<td><input style="width: 85%" /></td>
		</tr>
		<tr>
			<td class="vol-td1">邮箱：</td>
			<td><input style="width: 85%" /></td>
		</tr>
	</table>
</form>

<button type="submit" class="caseform-btn">提&emsp;交</button>

{template "content", "footer"}
