
{template "content", "header"}

<script type="text/javascript">
<?php if ($_GET['pages']) {
?>
	var page = {$_GET['pages']};
<?php } else { ?>
	var page = 1;
<?php } ?>
</script>
<div class="bn" style=""></div>

<div class="c v ls">
	<div class="l v-l ls-l">
		<div class="ls-ltl">
			<a href="javascript:;" class="a">最新活动沙龙</a>
			<a href="javascript:;">往届活动沙龙</a>
		</div>
		<div class="ls-lc">
			<a href="shequhuodong-view.php" target="_blank"><img src="{$imgPath}act-test.jpg" class="l ls-lc-lg" /></a>
			<div class="r ls-lcr">
				<a href="shequhuodong-view.php" target="_blank"><h1 class="l">双剑合璧：设计与技术</h1></a>
				<div class="r ls-lcrt"><img src="{$imgPath}v-top2.png" /><span>120</span><img src="{$imgPath}v-top1.png" /><span>120</span></div>
				<div class="b"></div>
				<p>活动日期：2015年01月23日  北京 国家会议中心家会议中心家会议中心</p>
				<p>剩余席位：15 / 30 (位)</p>
			</div>
			<div class="b"></div>
			<p class="ls-lcp">最近炒得火热的“响应式网页设计”。到HTML和CSS开始普及后，设计和技术之间的关系实现协调，设计和技术平起平坐。梁山鹰结合其所处的微软亚洲互联网工程院的研究项目作为案例，体现以设计先行，引导科技。演讲最后，梁山鹰赠予在座设计师四点要求和希望——设计师应该不惧怕技术，设计师面对技术的时候应该做到：掌握、运用、影响、推动。 精彩发言，赢得在场观众的雷鸣般掌声。</p>
			<h2>演讲嘉宾</h2>
			<div class="ls-lcb">
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
			</div>
			<div class="b"></div>
		</div>
		<div class="ls-lc">
			<a href="shequhuodong-view.php" target="_blank"><img src="{$imgPath}act-test.jpg" class="l ls-lc-lg" /></a>
			<div class="r ls-lcr">
				<a href="shequhuodong-view.php" target="_blank"><h1 class="l">双剑合璧：设计与技术</h1></a>
				<div class="r ls-lcrt"><img src="{$imgPath}v-top2.png" /><span>120</span><img src="{$imgPath}v-top1.png" /><span>120</span></div>
				<div class="b"></div>
				<p>活动日期：2015年01月23日  北京 国家会议中心家会议中心家会议中心</p>
				<p>剩余席位：15 / 30 (位)</p>
			</div>
			<div class="b"></div>
			<p class="ls-lcp">最近炒得火热的“响应式网页设计”。到HTML和CSS开始普及后，设计和技术之间的关系实现协调，设计和技术平起平坐。梁山鹰结合其所处的微软亚洲互联网工程院的研究项目作为案例，体现以设计先行，引导科技。演讲最后，梁山鹰赠予在座设计师四点要求和希望——设计师应该不惧怕技术，设计师面对技术的时候应该做到：掌握、运用、影响、推动。 精彩发言，赢得在场观众的雷鸣般掌声。</p>
			<h2>演讲嘉宾</h2>
			<div class="ls-lcb">
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
			</div>
			<div class="b"></div>
		</div>
		<div class="ls-lc">
			<a href="shequhuodong-view.php" target="_blank"><img src="{$imgPath}act-test.jpg" class="l ls-lc-lg" /></a>
			<div class="r ls-lcr">
				<a href="shequhuodong-view.php" target="_blank"><h1 class="l">双剑合璧：设计与技术</h1></a>
				<div class="r ls-lcrt"><img src="{$imgPath}v-top2.png" /><span>120</span><img src="{$imgPath}v-top1.png" /><span>120</span></div>
				<div class="b"></div>
				<p>活动日期：2015年01月23日  北京 国家会议中心家会议中心家会议中心</p>
				<p>剩余席位：15 / 30 (位)</p>
			</div>
			<div class="b"></div>
			<p class="ls-lcp">最近炒得火热的“响应式网页设计”。到HTML和CSS开始普及后，设计和技术之间的关系实现协调，设计和技术平起平坐。梁山鹰结合其所处的微软亚洲互联网工程院的研究项目作为案例，体现以设计先行，引导科技。演讲最后，梁山鹰赠予在座设计师四点要求和希望——设计师应该不惧怕技术，设计师面对技术的时候应该做到：掌握、运用、影响、推动。 精彩发言，赢得在场观众的雷鸣般掌声。</p>
			<h2>演讲嘉宾</h2>
			<div class="ls-lcb">
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
			</div>
			<div class="b"></div>
		</div>
		<div class="ls-lc">
			<a href="shequhuodong-view.php" target="_blank"><img src="{$imgPath}act-test.jpg" class="l ls-lc-lg" /></a>
			<div class="r ls-lcr">
				<a href="shequhuodong-view.php" target="_blank"><h1 class="l">双剑合璧：设计与技术</h1></a>
				<div class="r ls-lcrt"><img src="{$imgPath}v-top2.png" /><span>120</span><img src="{$imgPath}v-top1.png" /><span>120</span></div>
				<div class="b"></div>
				<p>活动日期：2015年01月23日  北京 国家会议中心家会议中心家会议中心</p>
				<p>剩余席位：15 / 30 (位)</p>
			</div>
			<div class="b"></div>
			<p class="ls-lcp">最近炒得火热的“响应式网页设计”。到HTML和CSS开始普及后，设计和技术之间的关系实现协调，设计和技术平起平坐。梁山鹰结合其所处的微软亚洲互联网工程院的研究项目作为案例，体现以设计先行，引导科技。演讲最后，梁山鹰赠予在座设计师四点要求和希望——设计师应该不惧怕技术，设计师面对技术的时候应该做到：掌握、运用、影响、推动。 精彩发言，赢得在场观众的雷鸣般掌声。</p>
			<h2>演讲嘉宾</h2>
			<div class="ls-lcb">
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
				<p class="l">梁山鹰<span>微软亚洲互联网工程院 首席用户体验总监</span></p>
			</div>
			<div class="b"></div>
		</div>
		<div class="pg">
			<div class="pg-c">
				<a href="javascript:;"></a>
				<span>1</span>
				<a href="javascript:;">2</a>
				<a href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<a href="javascript:;">5</a>
				<a href="javascript:;">></a>
				<b>
					<input value="1" /> / 25页
				</b>
			</div>
		</div>
	</div>
	{template "content", "right"}
	<div class="b"></div>
</div>

{template "content", "footer"}
<script type="text/javascript" src="{$js}dataRequest.js"></script>
<script type="text/javascript">
var listNum = 4;
	requestParam = {
		"mm":"paike",
		"ms":"ms_title,ms_description,ms_startTime,ms_address,ms_clicks,ms_comments",
		"mw":{"ms_type":5},
		"mr":{
			"huichangkecheng":{
				"mm":"huichangkecheng",
				"mr":{
					    "kechengjiaolian":{
					    	"mm":"kechengjiaolian",
							"mr":{
								"jiangshi":{
									"mm":"jiangshi",
									"ms":"ml_name,ml_company,ml_position"
								}
						}
					}
				}
			}	
		},
		"mo":(page-1)*listNum,
		"ml":listNum,
	};
	requestParam = JSON.stringify(requestParam);
	dataRequest(requestUrl+'api/index', requestParam,write_huodong_list);
	function write_huodong_list(data){
		console.log(data)
	}
</script>