<!DOCTYPE html>
<html>
<title>TOP100SUMMIT全球软件案例智库-智库</title>
{template "api", "think-content"}
<script type="text/javascript">
	var pageInt = 0;
	var pageSize =20;
	var options = {
	    "mm": "kecheng",
	    "ms": "mc_title,mc_lecturerId,mc_auditionvideo,mc_desc,mc_praises,mc_collects,mc_comments,mc_createdAt",
	    "mw": "mc_assignToTop100=1",
	    "mr": {
	        "kechengjiaolian": {
	            "mm": "kechengjiaolian",
	            "ms": "*",
	            "mr": {
	                "jiaolian": {
	                    "mm": "jiaolian",
	                    "ms": "ml_name,ml_description,ml_company,ml_position,ml_thumbs"
	                }
	            }
	        }
	    },
	    "mo": pageInt,
	    "ml": pageSize
	};

	option = JSON.stringify(options);
	var nowDiff = 0; //当前滚动差距
	var prevDiff = 0; //上一次滚动距离
	var scrollType = 1;
	var stype = 0;
	var data = dataRequest(requestUrl+'api/index', option, waterfall_example);
	$(window).scroll(function(){
		clearTimeout(timeout)
		var timeout = setTimeout(function(){
		var stp = parseInt($(window).scrollTop());
		var dh = parseInt($("body").height());
		var nowDiff = dh - stp - $(window).height();
		if (stp!=0 && nowDiff < 300 && nowDiff < prevDiff && stype == 1) {
			pageInt += pageSize;
			options.mo = pageInt;
			option = JSON.stringify(options);
			dataRequest(requestUrl+'api/index', option, waterfall_example);
		}
		prevDiff = nowDiff;
	}, 500)
	})


	// var roleTags = dataRequest(requestUrl+'api/index', '{"mm":"biaoqian","ms":"mtags_id,mtags_name", "mw":{"mtags_catid":"5"}}',write_tags);
	// function write_tags(roleTags){
	// 	for(var i in roleTags) {
	// 	$('<a href="/index.php?m=api&c=think&a=listCourses&t='+roleTags[i].id+'">'+roleTags[i].tagName+'</a>').insertBefore("#roleTags .sl-ar");
	// 	}	
	// }

	// function getCourseByTag(tagId){
	// 	var options = {
	// 		"mm":"kecheng",
	// 		"mw":{"t.id":tagId}
	// 	};
	// 	var option = JSON.stringify(options);
	// 	dataRequest(requestUrl+'api/index', option, waterfall_example);
	// }
	function getCourseByTitle(){

	}

</script>

