{template "content", "header"}
<div class="bn">
	<!-- <div class="bn-c">
		<h1>案例提交</h1>
		<p class="bn-cs">北京2015年4月10日</p>
	</div> -->
</div>

<div class="c about">
	<div class="l about-l"><img src="{$imgPath}about1.png" /></div>
	<div class="r about-r">
		<h1>分享那些激动人心的创新与变革</h1>

		<p>TOP100SUMMIT是科技界一年一度的案例研究盛会，每年甄选有代表的100个技术创新/研发管理案例，旨在揭幕100件案例背后的思考、长尾价值，为 听众提炼最佳学习路径（或看点），帮助他人的项目或团队获得启示、成长，正如"他山之石，可以攻玉"
		<!-- <span style="font-size:10px; font-style:inherit;position:relative;bottom:1em;color:#f00"> -->
		<!-- 注1</span> -->
		。
		<br>
大会由15位垂直专题领域的业界专家担当出品人，负责专题案例评审、甄选，100件案例由五个专题构成：产品创新/用户体验、团队管理/组织发展 、架构设计/技术战略、设计匠艺/流程再造、测试管理/质量平台。
<br>
1. Top100summit将从海选案例中甄选有学习参考价值的议题，其中最具代表的100个案例入选大会解读、点评，入选案例文稿收录到《全球软件案 例研究年鉴》，出版所得纳入基金管理
<!-- <span style="font-size:10px; font-style:inherit;position:relative;bottom:1em;color:#f00">注2</span>； -->
<br>
2. 每个入选案例60分钟深度解读，其中50分钟由该团队带头人（或核心骨干）揭幕他们的探索发现与实践心得，另外10分钟由出品人梳理案例启示 录、最佳学习路径；<br>
3. Top100summit于2015年12月4-6日在北京国家会议中心举办，这是一次行业百家争鸣、年终盘点，正所谓"他山之石，可以攻玉"，见贤思齐。</p>
	</div>
	<div class="b"></div>
</div>

<div class="about-bg">
	<div class="c about">
		<div class="l about-l"><img src="{$imgPath}about2.png" /></div>
		<div class="r about-r">
			<h1>《TOP100全球软件案例精选集》</h1>
			<p>《TOP100全球软件案例精选集》本书从产品创新、团队管理、架构设计、开发流程、质量管理等不同层面，从案例的角度回顾了软件工程在这一年的发展。该书首次在信息技术领域引入国外成熟的案例研究理念，通过对具体案例的剖析，解答从业者在工作过程中可能遇到的问题。读者可以在阅读本书时看到国内外知名公司的研发管理经验，以及解决问题的方法。</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="c about">
		<div class="l about-l"><img src="{$imgPath}about3.png" /></div>
		<div class="r about-r">
			<h1>《软件》纪录片</h1>
			<p>《TOP100全球软件案例精选集》本书从产品创新、团队管理、架构设计、开发流程、质量管理等不同层面，从案例的角度回顾了软件工程在这一年的发展。该书首次在信息技术领域引入国外成熟的案例研究理念，通过对具体案例的剖析，解答从业者在工作过程中可能遇到的问题。读者可以在阅读本书时看到国内外知名公司的研发管理经验，以及解决问题的方法。</p>
		</div>
		<div class="b"></div>
	</div>
</div>
{template "content", "footer"}