*{font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif}
.pub-rk table{background: #fff;}
.h-lg{margin: 0;}
.l{float: left}
.r{float: right}
.c{clear: both}
a.pub-rk{margin-bottom: 10px;}
.pub-rk table img{height: 170px;width: auto;}
.bn{background-position:center;background-image: url(../img/banner-home.png);background-repeat: no-repeat;background-color:#fff; }
.banner-volunteer{background-image: url(../img/banner-volunteer.png);}
.banner-caseSubmit{background-image: url(../img/banner-case.png);}
.banner-publication{background-image: url(../img/banner-publication.png)}
.banner-summit2015{background-image: url(../img/banner-summit2015.png);}
.banner-member-company{background-image: url(../img/banner-member-company.png);}
.banner-wyh{background-image: url(../img/banner-wyh.png);}
p.course_desc{margin-top: 15px;}
/*.z-wtc-lg{background: }*/
.z-wt{padding:0px;}
.z-wtc h2 { background: #ffce00; font-size: 150%; line-height: 30px;  overflow: hidden; width: 88%; padding: 5% 6%; font-weight: normal; }
.z-schc{position: relative;}
.z-wtn{background: #fff;}
.zhiku-container{position: relative;padding:40px 0;padding-bottom: 0;}
.searchbtn{cursor: pointer;width:30px;height:30px;position: absolute;right:52px;top:2px;border: 0px;background: none;}
#roleTags{z-index: 99}
#loading{background: #f4f4f4;height: 50px;padding: 10px 0px;margin: 0 auto;border-top: solid #f4f4f4 2px;position: absolute;top:0px;display: none;margin-top:30px;}
#loading span{font-size: 26px;}
#loading img {height: 22px;width:auto;}
.text-center{text-align: center};

/*智库详情页Begin*/
.lecturerInfo{margin-bottom: 38px;width:100%;}
.v-info h1{
	line-height: 30px;
	margin: 18px 0px;
}
.v-info  p{font-size: 20px;color:#4d4d4d;font-family:'Microsoft YaHei';line-height: 30px;}
.v-info p.desc{margin-top: 38px;}
.v-info .v-top-r img{width: auto;height: auto;}
.v-info .v-top-rc p{font-size: 16px;}
/*智库详情页End*/

.frd-p{font-size: 16px;line-height: 2em;}
/*表单界面*/
.v-right {
  width: 300px;
  margin: -24px 30px 0 0;
  position: relative;
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 50px;
}
/*沙龙详情页*/
.v-info img{width: auto;height: 100px;margin-left: 15px;}
@media screen and (max-width: 1150px){
	.formright {
		float: left;
	  	width: 100%;
	  	padding-top:0 ;
	  	margin-top: 20px;
	  	width: 100%;
	}
}
/*精彩案例回顾*/
li.showVideo{cursor: pointer;border: solid 1px #ffce00;}
li.showVideo img{height: 123px;}
.box-background{height: 0px;width: 100%;background: #000;opacity: 0.5;
filter: alpha(opacity=50);position: absolute;top:0px;left:0px;}
/*出品人页面*/
.pro-cr h3{padding-top: 5px;}
.pro-cr p{max-width: 210px;}
/*案例提交页面*/
#form_content h4 {
  font-size: 21px;
  color: #2360aa;
  margin: 20px 0 17px 0;
  font-weight: 400;
}
#form_content  p {
  line-height: 18px;
  font-size: 15px;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.floatclear{
	clear: both;
}
#form_content .form_group {
  width: 45%;
  margin-bottom: 13px;
}
#form_content .form_group label {
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
}
.color_ff5555{
	color: #ff5555;
}
#form_content .form_group input {
  display: block;
  padding: 8px 10px;
  width: 200px;
  transition: border-color 0.2s;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  line-height: normal;
  color: #565a5c;
}
#form_content ul {
  padding-left:0px;
  margin: 20px 0;
}
.text-center{text-align: center;}
.form_submit {
  margin: 100px auto 60px auto;
  width: 265px;
  height: 69px;
}
.formright{
	padding-top: 0px;
}
.formlogo{
	width:100%;
}
.formright .coursesimgtitle {
  position: absolute;
  width: 80%;
  top: 2%;
  left: 2%;
  text-align: left;
  overflow: hidden;
}
.formright .contain {
  margin-left: 25px;
  margin-right: 25px;
}
.formright h4 {
  font-size: 15px;
  margin: 13px 0 13px 0px;
}
.formright .coursesimgtitle h5 {
  font-size: 13px;
  margin: 13px;
}
.formright .coursesimgtitle p{
	color: #875b00;
	font-size: 12px;
	line-height: 18px;
	margin-left:13px ;
}
.formright .border{
	border-top:1px dashed #d3d3d3;
	border-bottom:1px dashed #d3d3d3;
}
.formright .line2{
	margin:30px 0;
	padding:18px 0;
	text-align: left;
}.formright .line3{
	margin:30px 0;
	padding:18px 0;
	text-align: left;
}
