<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TOP100Summit</title>
<?php $css = CSS_PATH.'top100/css/';$js = CSS_PATH.'top100/js/';
$imgPath = CSS_PATH.'top100/img/';$cateUrl = '/index.php?m=content&c=index&a=lists&catid='?>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="TOP100SUMMIT是科技界一年一度的案例研究盛会，每年甄选有代表的100个技术创新/研发管理案例，旨在揭幕100件案例背后的思考、长尾价值，为 听众提炼最佳学习路径（或看点），帮助他人的项目或团队获得启示、成长，正如“他山之石，可以攻玉” 。" name="Description" /> 
<meta content="TOP100SUMMIT,全球软件案例,软件培训,研发培训,产品经理培训,安卓培训,架构师培训,软件测试体系,需求管理,软件测试,项目管理,软件架构师,设计模式,互联网思维,大数据,互联网转型" name="Keywords" /> 
<link href="favicon.ico" rel="shortcut icon" /> 
<title>TOP100SUMMIT全球软件案例智库 - 评选全球年度Top100研发案例</title>
<link rel="stylesheet" href="{$css}common.css" />
<link rel="stylesheet" href="{$css}style.css" />
    <link rel="stylesheet" href="{$css}chinaz.css" />
<script language="JavaScript" src="{$js}jquery.js"></script>
    <script language="JavaScript" src="{$js}jquery-latest.min.js"></script>
    <script language="JavaScript" src="{$js}chinaz.js"></script>
</head>

<body>
<div class="t">
	<div class="c t-c">
		<a href="javascript:;">CN</a> | <a href="javascript:;">EN</a>
		&emsp;
		<?php 
		$_userid = param::get_cookie('_userid');
		if(!$_userid){ ?>
		<a href="/index.php?m=member&c=index&a=login" class="js_login">登录</a> | 
		<a href="/index.php?m=member&c=index&a=register" class="js_reg">注册</a>
		<?php }else{ ?>
        <a href="/index.php?m=api&c=caseSubmit">案例提交</a>&emsp;
        <a href="/index.php?m=api&c=myCaseList&currPage=1" class="t-ca">我的案例</a>&emsp;
		<a href="#" class="t-ca">已报名课程</a>&emsp;<a href="javascript:;">修改密码</a> | <a href="index.php?m=api&c=user&a=logout">退出登录</a>
		<?php } ?>
	</div>
</div>

<div class="h">
	<div class="c h-c">
		<a href="index.php"><img src="{$imgPath}logo.png" class="l h-lg" /></a>
		<ul class="r h-nav">
			<li class="l"><a href="/index.php?m=api&c=think&a=listCourses&t=2">智库</a><span class="countCourse"></span></li>
			<li class="l"><a href="/index.php?m=api&c=summit&a=summit2015">summit2015</a></li>

			<li class="l"><a href="/index.php?m=api&c=activity">走进案例</a><span class="countSalon"></span></li>
			<li class="l"><a href="<?= $cateUrl?>25">出版</a></li>
			<li class="l"><a href="/index.php?m=content&c=index&a=lists&catid=27">合作赞助</a></li>
			<li class="l"><a href="<?= $cateUrl?>15">委员会</a></li>
		</ul>
		<div class="r _m h-navm">
			<a href="javascript:;" class="h-navm-1"><img src="{$imgPath}h-navm-1.png" /></a>
			<a href="javascript:;" class="h-navm-2 a"><img src="{$imgPath}h-navm-2.png" /></a>
		</div>
		<div class="_m h-navmc">
			<img src="{$imgPath}h-navmc-top.png" class="h-navmc-top" />
			<a href="<?= $cateUrl?>11">智库<span class="countCourse"></span></a>
			<a href="/index.php?m=api&c=summit&a=summit2015">summit 2015</a>
			<a href="/index.php?m=api&c=activity">走进案例<span class="r countSalon"></span></a>
			<a href="<?= $cateUrl?>25">出版</a>
			<a href="/index.php?m=content&c=index&a=lists&catid=27">合作赞助</a>
			<a href="<?= $cateUrl?>15">委员会</a>
		</div>
		<div class="_m h-navmcr">
			<img src="{$imgPath}h-navmc-top.png" class="h-navmc-top" style="right:21%;" />

			<a href="/index.php?m=member&c=index&a=login" class="a">登录</a>
			<a href="/index.php?m=member&c=index&a=register">注册</a>
		</div>
		<div class="b"></div>
	</div>
</div>
