{template "content", "header"}
<div class="bn banner-wyh">
</div>

<div class="c pro">
	<h1>出品人</h1>
	<h2>大会由15位垂直专题领域的业界专家担当出品人，负责专题案例评审、甄选，100件案例由五个专题构成：产品创新/用户体验、团队管理/组织发展 、架构设计/技术战略、设计匠艺/流程再造、测试管理/质量平台。</h2>
	{pc:content action="lists" catid="34" thumb="1" order="listorder desc,id asc"}
		{loop $data $v}
			<div class="pro-c">
				<img src="{$v[thumb]}" class="l" style="width:130px;height:130px;" />
				<div class="r pro-cr">
					<h3>{$v[title]}</h3>
					<p>{$v[company]}</p>
					<p>{$v[position]}</p>
					<p>{if $v[relationship]}{$v[relationship]}{else}出品人{/if}</p>
					<p>{if $v[email]}{$v[email]}{/if}</p>
				</div>
				<div class="b"></div>
			</div>
		{/loop}
	{/pc}
	<!-- <div class="pro-c">
		<img src="img/producter.jpg" class="l" />
		<div class="r pro-cr">
			<h3>苏杰</h3>
			<p>阿里产品经理</p>
			<p>联席主席，大会赞助</p>
			<p>sujie@top100summi.com</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="pro-c">
		<img src="img/producter.jpg" class="l" />
		<div class="r pro-cr">
			<h3>苏杰</h3>
			<p>阿里产品经理</p>
			<p>联席主席，大会赞助</p>
			<p>sujie@top100summi.com</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="pro-c">
		<img src="img/producter.jpg" class="l" />
		<div class="r pro-cr">
			<h3>苏杰</h3>
			<p>阿里产品经理</p>
			<p>联席主席，大会赞助</p>
			<p>sujie@top100summi.com</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="pro-c">
		<img src="img/producter.jpg" class="l" />
		<div class="r pro-cr">
			<h3>苏杰</h3>
			<p>阿里产品经理</p>
			<p>联席主席，大会赞助</p>
			<p>sujie@top100summi.com</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="pro-c">
		<img src="img/producter.jpg" class="l" />
		<div class="r pro-cr">
			<h3>苏杰</h3>
			<p>阿里产品经理</p>
			<p>联席主席，大会赞助</p>
			<p>sujie@top100summi.com</p>
		</div>
		<div class="b"></div>
	</div>
	<div class="pro-c">
		<img src="img/producter.jpg" class="l" />
		<div class="r pro-cr">
			<h3>苏杰</h3>
			<p>阿里产品经理</p>
			<p>联席主席，大会赞助</p>
			<p>sujie@top100summi.com</p>
		</div>
		<div class="b"></div>
	</div> -->
	<!-- <a href="javascript:;" class="pro-btn">申请加入</a> -->
</h2>
</div>

{template "content", "footer"}