{template "content", "header"}


<div class="tl">
	<div class="c tl-c">开源网络服务器框架在263的实践</div>
</div>

<div class="c v">
	<div class="l v-l">
		<div class="v-lc v-pos">
			<span>您目前处于：</span>
			<a href="javascript:;">首页</a>
			<span> > </span>
			<a href="javascript:;">智库</a>
			<span> > </span>
			<b>开源网络服务器框架在263的实践</b>
		</div>
		<div class="v-lc v-stl">
			开源网络服务器框架在263的实践
		</div>
		<div class="v-lc v-sa">
			<div class="l v-sal">
				<p>
					<i class="r">
						剩余席位：15 / 30（位）
					</i>
					活动价格：<b>¥1000</b> / 位（会员免费）
				</p>
				<p>
					<i class="r">
						<img src="{$imgPath}v-sa.png" />
						<span>分享</span>
					</i>
					活动日期：2015年01月23日  北京 国家会议中心家会议中心家会议中心
				</p>
			</div>
			<a href="javascript:;" class="r v-sa-bm"><span>报名<br />预约</span></a>
			<div class="b"></div>
		</div>
		<div class="v-lc v-info">
			<h1><img src="{$imgPath}v-ava-test.jpg" />郑树新<span>SecDragon 乌云网联合创始人，乌云知识库负责人</span></h1>
			<p>1999 年从事互联网，2000年开发了国内著名的 263 聊天室，2001年参与了263新邮件系统项目；2002年任方标讯业技术总监；2006任和讯任架构师，构建了和讯CDN系统、邮件系统等应用；邮件系统等应用；2010任艾克赛乐CTO；2013年再次加入263，任首席架构师。</p>
		</div>
		<div class="v-lc v-con">
			<h1>沙龙大纲</h1>
			<p><?php echo nl2br('１.案例目标：为云平台提供数据路由服务，要求支持高并发，高性能、高可靠性。
２.成功（或教训）要点：2.1、功能模块的分层策略(CipRouter 负责数据业务访问，redis提供高
效查询访问，mongodb 对数据进行持久化）2.2、读写业务进行分离2.3、降低服务模块的耦合
度2.4、多级备份保证数据不会丢失2.5、连接池的高效性及容错
性2.6、采用事件驱动的线程池服务模式
分层策略(CipRouter 负责数据业务访问，redis  提供高效查询访问，mongodb 对数据进行持久
化）性2.6、采用事件驱动的线程池服务模式'); ?></p>
		</div>
		<div class="v-lc v-info">
			<h1><img src="{$imgPath}v-ava-test.jpg" />郑树新<span>SecDragon 乌云网联合创始人，乌云知识库负责人</span></h1>
			<p>1999 年从事互联网，2000年开发了国内著名的 263 聊天室，2001年参与了263新邮件系统项目；2002年任方标讯业技术总监；2006任和讯任架构师，构建了和讯CDN系统、邮件系统等应用；邮件系统等应用；2010任艾克赛乐CTO；2013年再次加入263，任首席架构师。</p>
		</div>
		<div class="v-lc v-con">
			<h1>沙龙大纲</h1>
			<p><?php echo nl2br('１.案例目标：为云平台提供数据路由服务，要求支持高并发，高性能、高可靠性。
２.成功（或教训）要点：2.1、功能模块的分层策略(CipRouter 负责数据业务访问，redis提供高
效查询访问，mongodb 对数据进行持久化）2.2、读写业务进行分离2.3、降低服务模块的耦合
度2.4、多级备份保证数据不会丢失2.5、连接池的高效性及容错
性2.6、采用事件驱动的线程池服务模式
分层策略(CipRouter 负责数据业务访问，redis  提供高效查询访问，mongodb 对数据进行持久
化）性2.6、采用事件驱动的线程池服务模式'); ?></p>
		</div>
		<div class="v-cmt">
			<h1>全部评论(4)</h1>
			<div class="v-cmt-c">
				<img src="{$imgPath}ava-test.jpg" class="l v-cmt-ava" />
				<div class="r v-cmt-r">
					<div class="l"><b>用户昵称</b><span>35天前：</span></div>
					<div class="r"><a href="javascript:;">回复</a> | <a href="javascript:;">赞同</a><span>(99)</span></div>
					<div class="b"></div>
					<p>移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队</p>
				</div>
				<div class="b"></div>
			</div>
			<div class="v-cmt-c">
				<img src="{$imgPath}ava-test.jpg" class="l v-cmt-ava" />
				<div class="r v-cmt-r">
					<div class="l"><b>用户昵称</b><span>35天前：</span></div>
					<div class="r"><a href="javascript:;">回复</a> | <a href="javascript:;">赞同</a><span>(99)</span></div>
					<div class="b"></div>
					<p>移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队</p>
				</div>
				<div class="b"></div>
			</div>
			<div class="v-cmt-c">
				<img src="{$imgPath}ava-test.jpg" class="l v-cmt-ava" />
				<div class="r v-cmt-r">
					<div class="l"><b>用户昵称</b><span>35天前：</span></div>
					<div class="r"><a href="javascript:;">回复</a> | <a href="javascript:;">赞同</a><span>(99)</span></div>
					<div class="b"></div>
					<p>移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队</p>
				</div>
				<div class="b"></div>
			</div>
			<div class="v-cmt-c">
				<img src="{$imgPath}ava-test.jpg" class="l v-cmt-ava" />
				<div class="r v-cmt-r">
					<div class="l"><b>用户昵称</b><span>35天前：</span></div>
					<div class="r"><a href="javascript:;">回复</a> | <a href="javascript:;">赞同</a><span>(99)</span></div>
					<div class="b"></div>
					<p>移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队移动互联网产品团队联网产品团队团队</p>
				</div>
				<div class="b"></div>
			</div>
			<form method="post" class="v-cmt-f">
				<img src="{$imgPath}ava-test.jpg" class="l v-cmt-ava" />
				<textarea class="r"></textarea>
				<div class="b"></div>
				<button type="submit">提交</button>
			</form>
		</div>
	</div>
	{template "content", "right"}
	<div class="b"></div>
</div>

{template "content", "footer"}
